.Home {
    margin: 45px 75px;
    display: flex;
    align-items: stretch;
    flex-direction: column;
  }
  
  .textWrapper1 {
    display: inline-block;
    color: #000000;
    font-size: 64px;
    font-family: 'PoppinsBlack';
    text-align: left;
    align-items: center;
  }
  
  .daycareText {
    margin-left: 200px;
  }
  
  .normalText {
    position: relative;
    width: 430px;
    height: 120px;
    margin-top: 20px;
  }
  
  .textWrapper3 {
    display: flex;
    color: #000000;
    font-size: 64px;
    font-family: 'PoppinsBlack';
    text-align: left;
    align-items: center;
  }
  
  .vectorImage {
    margin: 0 auto;
    position: absolute;
    left: 50%;
  }
  
  .image {
    position: absolute;
    left: 55%;
    top: 16%;
    width: 645px;
    height: 310px;
    border-radius: 59px;
  }
  
  .textWrapper2 {
    display: inline-block;
    color: #ffffff;
    font-size: 64px;
    font-family: 'PoppinsBlack';
    -webkit-text-stroke: 2px #000000;
  }
  
  @media (max-width: 912px) {
    .Home{
      margin: 0 75px;
    display: flex;
    align-items: center;
    flex-direction: column;
    }
    .image {
      position: relative;
      display: none;
      left: 0;
      top: 0;
      width: 100%;
      height: auto; 
      border-radius: 59px; 
    }
  
    .vectorImage {
      position: relative;
      left: 0;
      margin: 0 auto;
    }
  
    .Home {
      margin: 20px; 
    }
  
    .daycareText {
      margin-left: 0; 
      text-align: center; 
    }
  
    .normalText {
      width: 100%; 
    }
  
    .textWrapper3 {
      text-align: center; 
    }
  }

  .missionBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    padding: 20px;
    margin-top: 45px;
    width: 50%;
    border-radius: 7px;
    box-shadow: 0px 0px 0px 4px #e3ceff;
  }

  .visionBox {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    align-self: center;
    background-color: white;
    padding: 20px;
    width: 50%;
    border-radius: 7px;
    box-shadow: 0px 0px 0px 4px #e3ceff;
    margin-top: 45px;
  }

  .valSBox {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    align-self:flex-end;
    background-color: white;
    padding: 20px;
    width: 50%;
    border-radius: 7px;
    box-shadow: 0px 0px 0px 4px #e3ceff;
    margin-top: 45px;
  }

  .subHeader {
    font-family:  "PoppinsSemiBold";
    font-size: 48px;
  }

  .decorI {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .decorII {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .decorII img {
    position: relative;
    top: 45px;
    vertical-align:bottom;
  }

  .eventDiv {
    margin-top: 40px;
  }

  .cardViews {
    display: flex;
    flex-direction: row;
    margin-top: 67px;
    justify-content: space-between;
  }