.Header {
    box-sizing:content-box;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    /*margin-bottom: 2px;*/
    background-color: #ffffff;
    color: black;
} 