body {
  margin: 0;
  font-family: "PoppinsReg";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "PoppinsReg";
  src: url("../src/assets/fonts/Poppins/Poppins-Regular.ttf")
    format("opentype");
}