body {
  margin: 0;
  font-family: "PoppinsReg";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "PoppinsReg";
  src: url("../src/assets/fonts/Poppins/Poppins-Regular.ttf")
    format("opentype");
}

@font-face {
  font-family: "PoppinsBlack";
  src: url("../src/assets/fonts/Poppins/Poppins-Black.ttf")
    format("opentype");
}

@font-face {
  font-family: "PoppinsSemiBold";
  src: url("../src/assets/fonts/Poppins/Poppins-SemiBold.ttf")
    format("opentype");
}

@font-face {
  font-family: "PoppinsBold";
  src: url("../src/assets/fonts/Poppins/Poppins-Bold.ttf")
    format("opentype");
}

@font-face {
  font-family: "PoppinsLight";
  src: url("../src/assets/fonts/Poppins/Poppins-Light.ttf")
    format("opentype");
}

@font-face {
  font-family: "MontserratBold";
  src: url("../src/assets/fonts/Montserrat/static/Montserrat-Bold.ttf")
    format("opentype");
}

@font-face {
  font-family: "InterReg";
  src: url("../src/assets/fonts/Inter/static/Inter-Regular.ttf")
    format("opentype");
}